volumes:
  ssl-game-controller:

services:
  ssl-game-controller:
    build:
      context: .
      dockerfile: ./cmd/ssl-game-controller/Dockerfile
    command:
      - "-visionAddress"
      - "224.5.23.2:10020"
      - "-trackerAddress"
      - "224.5.23.2:11010"
      - "-publishAddress"
      - "224.5.23.1:11003"
      - "-address"
      - ":8081"
    volumes:
      - "ssl-game-controller:/config:rw"
    network_mode: "${NETWORK_MODE}"
    ports:
      - "8081:8081/tcp"
    profiles:
      - full

  ssl-vision-client:
    image: "robocupssl/ssl-vision-client:1.8.3@sha256:b12f0dcd3ed778b786f07a36150c5797366a361de64ec319e974a7e50d75a739"
    command:
      - "-address"
      - ":8082"
      - "-visionAddress"
      - "224.5.23.2:10020"
      - "-trackedAddress"
      - "224.5.23.2:11010"
    network_mode: "${NETWORK_MODE}"
    ports:
      - "8082:8082/tcp"

  ssl-status-board:
    image: "robocupssl/ssl-status-board:2.15.3@sha256:a435f8890774c9e417f6e65b359e6c6b34c16c7c69e6d0e9df690de13d0030c2"
    command:
      - "-address"
      - ":8083"
      - "-refereeAddress"
      - "224.5.23.1:11003"
    network_mode: "${NETWORK_MODE}"
    ports:
      - "8083:8083/tcp"

  ssl-remote-control-yellow:
    image: "robocupssl/ssl-remote-control:1.4.2@sha256:cedaebbb233ce8c7b12f25c325d5910571b1b62562a3f4f152f8777871d2fc2a"
    command:
      - "-address"
      - ":8084"
      - "-refereeAddress"
      - "224.5.23.1:11003"
      - "-team"
      - "YELLOW"
    network_mode: "${NETWORK_MODE}"
    ports:
      - "8084:8084/tcp"

  ssl-remote-control-blue:
    image: "robocupssl/ssl-remote-control:1.4.2@sha256:cedaebbb233ce8c7b12f25c325d5910571b1b62562a3f4f152f8777871d2fc2a"
    command:
      - "-address"
      - ":8085"
      - "-refereeAddress"
      - "224.5.23.1:11003"
      - "-team"
      - "BLUE"
    network_mode: "${NETWORK_MODE}"
    ports:
      - "8085:8085/tcp"

  ssl-team-client-yellow:
    image: "ssl-team-client"
    build:
      context: "."
      dockerfile: cmd/ssl-team-client/Dockerfile
    command:
      - "-teamColor"
      - "YELLOW"
      - "-teamName"
      - "Unknown"
      - "-udpAddress"
      - "224.5.23.1:11003"
    network_mode: "${NETWORK_MODE}"
    profiles:
      - team-client

  ssl-team-client-blue:
    image: "ssl-team-client"
    build:
      context: "."
      dockerfile: cmd/ssl-team-client/Dockerfile
    command:
      - "-teamColor"
      - "BLUE"
      - "-teamName"
      - "Unknown"
      - "-udpAddress"
      - "224.5.23.1:11003"
    network_mode: "${NETWORK_MODE}"
    profiles:
      - team-client

  autoref-tigers:
    image: "tigersmannheim/auto-referee:1.5.5@sha256:320c2b928dc4640b134f98527b8de4125eafdc429b414608a9a5b26ef6406a7f"
    command:
      - "-a" # active mode (connect to GC)
      - "-hl" # headless
      - "--visionAddress"
      - "224.5.23.2:10020"
      - "--refereeAddress"
      - "224.5.23.1:11003"
      - "--trackerAddress"
      - "224.5.23.2:11010"
    network_mode: "${NETWORK_MODE}"

  autoref-erforce:
    image: "roboticserlangen/autoref:commit-6f15f574ea80@sha256:3d7c5933c12eb193a1fefcfd6aba86fba42875c588cc883dc20d0bfcb66b11cb"
    command:
      - "--vision-port"
      - "10020"
      - "--tracker-port"
      - "11010"
      - "--gc-port"
      - "11003"
    network_mode: "${NETWORK_MODE}"

  ssl-log-player:
    image: "robocupssl/ssl-log-player:1.9.3@sha256:6571725e942e4dd7fb281b2915a291a8e5008749aa5b104fe92f76f63e6d785f"
    command:
      - "-file"
      - "/data/BOT_KICKED_BALL_TOO_FAST/linear-kick.log"
      - "-vision-address"
      - "224.5.23.2:10020"
      - "-referee-enabled"
      - "false"
      - "-vision-tracker-enabled"
      - "false"
    network_mode: "${NETWORK_MODE}"
    volumes:
      - "./autoref-tests/:/data"
    profiles:
      - autoref-tests

  simulator:
    image: "roboticserlangen/simulatorcli:commit-6a4e1c06533b@sha256:19d0df91697c82ebfd1f86eca5ccf6b8be2f0d64b22078725257c3a5856b5ddc"
    environment:
      GEOMETRY: "2020"
      REALISM: "RC2021"
    network_mode: "${NETWORK_MODE}"
    ports:
      - "10300/udp"
      - "10301/udp"
      - "10302/udp"
    profiles:
      - sim

  ssl-simulation-controller:
    image: "robocupssl/ssl-simulation-controller:0.13.0@sha256:dc1f58705e5b62aa4063673ee2e105f3d544e21b20b7d163b334e1862d303182"
    command:
      - "-refereeAddress"
      - "224.5.23.1:11003"
      - "-visionAddress"
      - "224.5.23.2:10020"
      - "-trackerAddress"
      - "224.5.23.2:11010"
      - "-simControlPort"
      - "10300"
    network_mode: "${NETWORK_MODE}"
    profiles:
      - sim
