.text-team-yellow {
    color: #000000 !important;
}
.bg-team-yellow {
    background: #ced509 !important;
}
.text-team-blue {
    color: #ffffff !important;
}
.bg-team-blue {
    background: #134cc4 !important;
}
