.text-team-yellow {
    color: #000000 !important;
}

.bg-team-yellow {
    background: #ced509 !important;
}

.text-team-blue {
    color: #ffffff !important;
}

.bg-team-blue {
    background: #134cc4 !important;
}

h1 {
    margin: 0.3em;
}

h2 {
    margin: 0.3em;
}

h3 {
    margin: 0.3em;
}

h4 {
    margin: 0.3em;
}

h5 {
    margin: 0.3em;
}

.max-content-width {
    max-width: 900px;
}
