.btn-primary:disabled {
    background-color: white;
    color: #007bff;
}

.btn-secondary:disabled {
    background-color: white;
    color: #6c757d;
}

.team-yellow {
    color: gold;
}

.team-blue {
    color: blue;
}

button, .btn-group {
    margin: 0.25em;
}

.btn-edit {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.game-controller-container {
    text-align: center;
}

.game-controller-view {
    margin: 0.25em;
    padding: 0.25em;
    border-style: dashed;
    border-radius: 10px;
    border-width: 0.1em;
}
