.btn-primary:disabled {
    background-color: white;
    color: #007bff;
}

.btn-secondary:disabled {
    background-color: white;
    color: #6c757d;
}

.team-yellow {
    color: gold;
}

.team-blue {
    color: blue;
}

button, .btn-group {
    margin: 0.25em;
}
